services:
  database:
    image: postgres:13
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data/pgdata
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql:ro
    ports:
      - "5432:5432"
    env_file: .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 1s
      timeout: 1s
      retries: 5
  server:
    build:
      dockerfile: ./Dockerfile
      context: ..
    env_file: .env
    ports:
      - "80:8080"
    depends_on:
      database:
        condition: service_healthy
volumes:
  pg_data: {}
